/* 
  MLU Colors:
  very light red: #FF9D9D
  light red: #E20E22
  main red: rgb(170, 0, 22);
  dark red: #77080D
*/

/* Fonts */
/* hind-regular - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Hind Regular'), local('Hind-Regular'),
       url('./fonts/hind-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/hind-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* hind-500 - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Hind Medium'), local('Hind-Medium'),
       url('./fonts/hind-v9-latin-500.woff2') format('woff2'),
       url('./fonts/hind-v9-latin-500.woff') format('woff'); 
}
/* hind-700 - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Hind Bold'), local('Hind-Bold'),
       url('./fonts/hind-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/hind-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.body {
  font-family: 'Hind', 'Helvetica', 'Open Sans', sans-serif;
  font-display: auto;
}



/*Adaptive sizing*/
.grid {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

/* Center container */
.container {
  margin: auto;
}

/* Phone width */
.container {
  width: 100%;
}
/* For tablet width */
@media only screen and (min-width: 768px) {
  .container {
    width: 85%;
  }
}
/* For normal computer width */
@media only screen and (min-width: 1200px) {
  .container {
    width: 65%;
  }
}

/* Header things */
.top-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
.home-title-logo {
  height: 6rem;
  width: auto;
}
.logo-wrapper {
  text-align: center;
}
.nav-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-button {

  color: #77080D;
  cursor: pointer;

  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;

  text-transform: uppercase;
  text-decoration: none;
}
.nav-button:hover {
  border-color: rgb(65, 8, 11);
  color: rgb(65, 8, 11);
  text-decoration: underline;
}
.nav-spacer {
  width: 50%;
}

/* Body styles */
.title {
  font-size: 2.1rem;
  letter-spacing: 0.1rem;
  line-height: 1.1;
  font-weight: bold;
  color: rgb(170, 0, 22);
  text-align: center;
  text-transform: uppercase;
}
.desc {
  font-size: 1.3rem;
  line-height: 1.4;
}
.desc a {
  color: rgb(170, 0, 22);
}
.desc a:hover {
  color: rgb(65, 8, 11);
}

/* For phone width */
@media only screen and (max-width: 768px) {
  .grid {
    display: block;
  }
}

/* Tablet width */
@media only screen and (max-width: 1200px) {
  .grid {
    display: grid;
  }
}