/* 
  MLU Colors:
  very light red: #FF9D9D
  light red: #E20E22
  main red: rgb(170, 0, 22);
  dark red: #77080D
*/

/* Fonts */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Hind Regular'), local('Hind-Regular'),
       url('/styles/fonts/hind-v9-latin-regular.woff2') format('woff2'),
       url('/styles/fonts/hind-v9-latin-regular.woff') format('woff');
}

/* Set font */
body {
  font-family: Hind, Arial, Helvetica, sans-serif;
}

/* Basic adaptive resize styling */
/* For phones, full-width */
.container {
  margin: auto;
  width: 100%;
}

/* Title stylings */
.title {
  font-size: 2.5rem;
  text-align: center;
}

/* Link stylings */
a {
  color: rgb(135, 32, 64);
}
a:hover {
  color: rgb(198, 77, 115);
}

/* Highlight stylings */
::selection {
  background: rgb(0, 0, 0); 
  color: white;
}
::-moz-selection {
  background: rgb(0, 0, 0); 
  color: white;
}

/* Table stlyings */
table {
  border-collapse: collapse;
  margin: auto;
  width: 90%;
}
table, th, td {
  border: 1px solid black;
}
th, td {
  padding: 15px;
  text-align: left;
}