/*Adaptive sizing*/
.grid {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.container {
  margin: auto;
}

/* Phone width */
.container {
  width: 100%;
}

/* For tablet width */
@media only screen and (min-width: 768px) {
  .container {
    width: 85%;
  }
}

/* For normal computer width */
@media only screen and (min-width: 1200px) {
  .container {
    width: 65%;
  }
}



/* Font stylings */

/* Post stylings */
.title, .container {
  font-family: 'Hind', 'Helvetica', 'Open Sans', sans-serif;
  font-display: auto;
}
.title, .date {
  text-align: center;
}
.title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.25;
  color: rgb(10, 10, 10);
}
.date {
  color: rgb(135, 32, 64);
  font-weight: 500;
}
.content{
  font-size: 1.1rem;
}

/* Home logo on post.html */
.home-logo {
  width: 4rem;
  height: auto;
  padding: 0.75rem;
  cursor: pointer;
  display: block;
  margin: auto;
}



/* Index stylings */
.home-title {
  display: flex;
  justify-content: center;
}
.home-title-logo {
  height: 6rem;
  width: auto;
  padding: 1rem;
}
.post-link {
  margin-bottom: 1.2rem;
}
.post-title a {
  font-size: 2.0rem;
  font-weight: bold;
  text-decoration: none;
  color: rgb(41, 41, 41);
}
.post-title a:hover  {
  color: rgb(135, 32, 64);
}
.post-summary {
  font-size: 1rem;
  margin-top: -0.25rem;
  line-height: 1.3;
  color: rgb(50, 50, 50);
}
.word-count {
  font-size: 0.95rem;
  color: rgb(80, 80, 80);
  font-weight: bold;
  padding-bottom: 0.5rem;
}

/* Link stylings */
a {
  color: rgb(135, 32, 64);
}
a:hover {
  color: rgb(198, 77, 115);
}


/* List stylings */
li:not(:first-child) {
  padding-top: 1rem;
}
