/* Styling the width */
.container {
  max-width: 40rem;
}

/* Header things */
.top_bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
.logo {
  height: 6rem;
  width: auto;
}
.logo-wrapper {
  text-align: center;
}
.nav-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-button {
  color: #77080D;
  cursor: pointer;

  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;

  text-transform: uppercase;
  text-decoration: none;
}
.nav-button:hover {
  border-color: rgb(65, 8, 11);
  color: rgb(65, 8, 11);
  text-decoration: underline;
}
.nav-spacer {
  width: 50%;
} 


/* Body of the page */
.post-link {
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}
.post-title a {
  font-size: 1.85rem;
  font-weight: bold;
  text-decoration: none;
  line-height: 2.0rem;
  color: rgb(170, 0, 22);
}
.post-title a:hover  {
  color: rgb(65, 8, 11);
  text-decoration: underline;
}

.post-summary {
  font-size: 1.20rem;
  margin-top: -0.25rem;
  line-height: 1.3;
  color: rgb(50, 50, 50);
}
.word-count {
  font-size: 0.95rem;
  color: rgb(80, 80, 80);
  font-weight: bold;
  padding-bottom: 0.5rem;
}

/* For phone width */
@media only screen and (max-width: 768px) {
  .grid {
    display: block;
  }
  .post-title a {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
  .post-summary {
    font-size: 1rem;
  }
  .logo {
    width: 3rem;
    height: auto;
  }
}