/* 
  MLU Colors:
  very light red: #FF9D9D
  light red: #E20E22
  main red: rgb(170, 0, 22);
  dark red: #77080D
*/

/* Fonts */
/* hind-regular - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Regular'), local('Hind-Regular'),
       url('./fonts/hind-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/hind-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* hind-500 - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 500;
  src: local('Hind Medium'), local('Hind-Medium'),
       url('./fonts/hind-v9-latin-500.woff2') format('woff2'),
       url('./fonts/hind-v9-latin-500.woff') format('woff'); 
}
/* hind-700 - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  src: local('Hind Bold'), local('Hind-Bold'),
       url('./fonts/hind-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/hind-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-condensed-regular - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-condensed-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url('../fonts/roboto-condensed-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-condensed-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-condensed-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-condensed-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-condensed-v17-latin-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}



/*Adaptive sizing*/
.grid {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

/* Center container */
.container {
  margin: auto;
}

/* Phone width */
.container {
  width: 100%;
  font-family: 'Hind', 'Helvetica', 'Open Sans', sans-serif;
  font-display: auto;
}

/* For tablet width */
@media only screen and (min-width: 768px) {
  .container {
    width: 85%;
  }
}

/* For normal computer width */
@media only screen and (min-width: 1200px) {
  .container {
    width: 65%;
  }
}

.home-title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
.home-title-logo {
  height: 6rem;
  width: auto;
}
.logo-wrapper {
  text-align: center;
}

.post-link {
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}

.post-title a {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  line-height: 2.5rem;
  color: rgb(170, 0, 22);
}
.post-title a:hover  {
  color: rgb(65, 8, 11);
  text-decoration: underline;
}

.post-summary {
  font-size: 1.17rem;
  margin-top: -0.25rem;
  line-height: 1.3;
  color: rgb(50, 50, 50);
}
.word-count {
  font-size: 0.95rem;
  color: rgb(80, 80, 80);
  font-weight: bold;
  padding-bottom: 0.5rem;
}
.nav-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-button {
  color: #77080D;

  cursor: pointer;

  /* border: 0.15rem #77080D solid;
  padding-left: 0.5rem;
  padding-right: 0.5rem; */

  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;

  text-transform: uppercase;
  text-decoration: none;
}
.nav-button:hover {
  border-color: rgb(65, 8, 11);
  color: rgb(65, 8, 11);
  text-decoration: underline;
}