/* 
  MLU Colors:
  very light red: #FF9D9D
  light red: #E20E22
  main red: rgb(170, 0, 22);
  dark red: #77080D
*/

/*Adaptive sizing*/
.grid {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

/* Center container */
.container {
  margin: auto;
}

/* Phone width */
.container {
  width: 100%;
  font-family: 'Hind', 'Helvetica', 'Open Sans', sans-serif;
  font-display: auto;
}

/* For tablet width */
@media only screen and (min-width: 768px) {
  .container {
    width: 85%;
  }
}

/* For normal computer width */
@media only screen and (min-width: 1200px) {
  .container {
    width: 65%;
  }
}

.home-title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 2rem;
}
.home-title-logo {
  height: 6rem;
  width: auto;
  margin: 1rem;
}
.logo-wrapper {
  text-align: center;
}

.post-link {
  margin-bottom: 1.5rem;
}
.post-title a {
  font-size: 2.0rem;
  font-weight: bold;
  text-decoration: none;
  line-height: 2.5rem;
  color: rgb(41, 41, 41);
}
.post-title a:hover  {
  color: #77080D;
}
.post-summary {
  font-size: 1rem;
  margin-top: -0.25rem;
  line-height: 1.3;
  color: rgb(50, 50, 50);
}
.word-count {
  font-size: 0.95rem;
  color: rgb(80, 80, 80);
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-button {
  color: #77080D;

  cursor: pointer;

  /* width: 4rem; */

  border: 0.15rem solid;
  border-radius: 0.7rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  padding-top: 0.2rem;
  padding-bottom: 0.2rem;

  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;

  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
.nav-button:hover {
  color: black;
}