/* Fonts */
/* hind-regular - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Hind Regular'), local('Hind-Regular'),
       url('./fonts/hind-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/hind-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* hind-500 - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Hind Medium'), local('Hind-Medium'),
       url('./fonts/hind-v9-latin-500.woff2') format('woff2'),
       url('./fonts/hind-v9-latin-500.woff') format('woff'); 
}
/* hind-700 - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Hind Bold'), local('Hind-Bold'),
       url('./fonts/hind-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/hind-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.body {
  font-family: 'Hind', 'Helvetica', 'Open Sans', sans-serif;
  font-display: auto;
}

/*Adaptive sizing*/
.grid {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.container {
  margin: auto;
}

/* Phone width */
.container {
  width: 100%;
  max-width:40em;
  padding:0 1em;
}

/* Default font size for smaller screens */
.content{
  font-size: 1.3rem;
}

/* For tablet width */
@media only screen and (min-width: 768px) {
  .container {
    width: 95%;
  }
}

/* For normal computer width */
@media only screen and (min-width: 1200px) {
  .container {
    width: 65%;
  }
  .content{
    font-size: 1.2rem;
  }
}

/* List stylings */
li:not(:first-child) {
  padding-top: 0.5rem;
}

/* Link stylings */
a {
  color: rgb(135, 32, 64);
}
a:hover {
  color: rgb(198, 77, 115);
}

.title, .date {
  text-align: center;
}
.title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.25;
  color: rgb(10, 10, 10);
}
.date {
  color: rgb(135, 32, 64);
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.navbar {
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nav-button {
  text-decoration: none;
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 8rem;
  border-radius: 0.33rem;
  text-align: center;
  font-size: 1rem;
  background-color: rgb(40, 40, 40);
  color: white;
  border: none;
  text-transform: uppercase;
}

.nav-button:hover {
  background-color: rgb(135, 32, 64);
  color: white;
}

.back-holder {
  display: grid;
  margin-top: 1.0rem;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}
.back {
  width: 4rem;
  padding: 0.35rem;
  font-size: 1.0rem;
}
.prev {
  margin-right: auto;
}
.next {
  margin-left: auto;
}

img {
  max-width: 100%;
}