/*Adaptive sizing*/
.grid {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.container {
  margin: auto;
}

/* Phone width */
.container {
  width: 100%;
  font-family: 'Hind', 'Helvetica', 'Open Sans', sans-serif;
  font-display: auto;
}

/* For tablet width */
@media only screen and (min-width: 768px) {
  .container {
    width: 85%;
  }
}

/* For normal computer width */
@media only screen and (min-width: 1200px) {
  .container {
    width: 65%;
  }
}

/* Link stylings */
a {
  color: rgb(135, 32, 64);
}
a:hover {
  color: rgb(198, 77, 115);
}

.home-title {
  text-align: center;
}
.home-title-logo {
  width: 6rem;
  height: auto;
  padding: 1rem;
}
.post-link {
  margin-bottom: 1.2rem;
}
.post-title a {
  font-size: 2.0rem;
  font-weight: bold;
  text-decoration: none;
  line-height: 2.5rem;
  color: rgb(41, 41, 41);
  color: rgb(135, 32, 64);
}
.post-title a:hover  {
  color: rgb(14, 14, 14);
}
.post-summary {
  font-size: 1rem;
  margin-top: -0.25rem;
  line-height: 1.3;
  color: rgb(75, 75, 75);
}
.word-count {
  font-size: 0.95rem;
  color: rgb(80, 80, 80);
  font-weight: bold;
  padding-bottom: 0.5rem;
}
/* List stylings */
li:not(:first-child) {
  padding-top: 1rem;
}