/*Adaptive sizing*/
.grid {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.container {
  margin: auto;
}

/* Phone width */
.container {
  width: 100%;
  font-family: 'Hind', 'Helvetica', 'Open Sans', sans-serif;
  font-display: auto;
}

/* Default font size for smaller screens */
.content{
  font-size: 1.35rem;
}

/* For tablet width */
@media only screen and (min-width: 768px) {
  .container {
    width: 85%;
  }
}

/* For normal computer width */
@media only screen and (min-width: 1200px) {
  .container {
    width: 65%;
  }
  .content{
    font-size: 1.2rem;
  }
}

/* List stylings */
li:not(:first-child) {
  padding-top: 1rem;
}

/* Link stylings */
a {
  color: rgb(135, 32, 64);
}
a:hover {
  color: rgb(198, 77, 115);
}

.title, .date {
  text-align: center;
}
.title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.25;
  color: rgb(10, 10, 10);
}
.date {
  color: rgb(135, 32, 64);
  font-weight: bold;
  margin-bottom: 2.5rem;
}
.home-logo-container {
  display: flex;
  justify-content: center;
}
.home-logo {
  width: 5rem;
  height: auto;
  margin: 1rem;
  cursor: pointer;
}

.navbar {
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.next-button, .prev-button {
  text-decoration: none;

  cursor: pointer;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  width: 8rem;
  border-radius: 0.33rem;

  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;

  background-color: rgb(40, 40, 40);
  color: white;
  border: none;
}

.next-button:hover, .prev-button:hover {
  /* background-color: rgb(206, 65, 109); */
  background-color: rgb(135, 32, 64);
  color: white;
}

.prev-button {
  margin-right: auto;
}
.next-button {
  margin-left: auto;
}