/* 
  MLU Colors:
  very light red: #FF9D9D
  light red: #E20E22
  main red: rgb(170, 0, 22);
  dark red: #77080D
*/

/* Fonts */
/* hind-regular - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Regular'), local('Hind-Regular'),
       url('./fonts/hind-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/hind-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* hind-500 - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 500;
  src: local('Hind Medium'), local('Hind-Medium'),
       url('./fonts/hind-v9-latin-500.woff2') format('woff2'),
       url('./fonts/hind-v9-latin-500.woff') format('woff'); 
}
/* hind-700 - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  src: local('Hind Bold'), local('Hind-Bold'),
       url('./fonts/hind-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/hind-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Highlight stylings */
::selection {
  background: #77080D; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #77080D; /* Gecko Browsers */
  color: white;
}

.body {
  font-family: 'Hind', 'Helvetica', 'Open Sans', sans-serif;
  font-display: auto;
  overflow-wrap: break-word;
}
.top-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
.logo-holder {
  text-align: center;
}
.back-holder {  
  display: flex;
  align-items: flex-start;
}
.nav-button {

  text-decoration: none;

  cursor: pointer;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  width: 5rem;
  border-radius: 0.33rem;

  text-align: center;
  font-size: 1rem;

  background-color: #77080D;
  color: white;
  border: none;
}
.nav-button:hover {
  background-color: rgb(170, 0, 22);
  color: white;
}
.back {  
  font-size: 1.15rem;
  margin-left: 1rem;
}
.home-title-logo {
  padding-top: 1rem;
  height: 4rem;
  width: auto;
}
.container {
  max-width:40em;
  margin:auto;
  padding:0 1em;
}

/* Body of the page */
.post-link {
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}
.post-title a {
  font-size: 2.0rem;
  font-weight: bold;
  text-decoration: none;
  line-height: 2.1rem;
  color: rgb(41, 41, 41);
}
.post-title a:hover  {
  color: rgb(135, 32, 64);
  text-decoration: underline;
}

.post-summary {
  font-size: 1.20rem;
  margin-top: -0.25rem;
  line-height: 1.3;
  color: rgb(50, 50, 50);
}
.word-count {
  font-size: 0.95rem;
  color: rgb(80, 80, 80);
  font-weight: bold;
  padding-bottom: 0.5rem;
}

/* For phone width */
@media only screen and (max-width: 768px) {
  .grid {
    display: block;
  }
  .post-title a {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
  .post-summary {
    font-size: 1rem;
  }
  .nav-button {
    font-size: 0.8rem;
    width: 3rem;
    padding: 0.2rem;
  }
}