/* Blog specific colors */
h1 {
  color: rgb(51, 51, 51);
}
h2 {
  color: rgb(63, 63, 63);
}
h3 {
  color: rgb(68, 68, 68);
}
.post-title {
  color: rgb(10, 10, 10);
}
ol {
  background-color: #f6f6f6;
}
.logo {
  width: 3rem;
}