/* Styling the width */
.container {
  max-width: 40rem;
  font-size: 1.3rem;
}

/* Header things */
.top_bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
.logo {
  height: 6rem;
  width: auto;
}
.logo-wrapper {
  text-align: center;
}
.nav-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-button {
  color: #77080D;
  cursor: pointer;

  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;

  text-transform: uppercase;
  text-decoration: none;
}
.nav-button:hover {
  border-color: rgb(65, 8, 11);
  color: rgb(65, 8, 11);
  text-decoration: underline;
}
.nav-spacer {
  width: 50%;
} 

/* Page content */
.page-title {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}