/* Default font size for smaller screens */
.container {
  font-size: 1.3rem;
  max-width: 45rem;
}

/* Highlight stylings */
::selection {
  background: rgb(70, 6, 9); /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: rgb(70, 6, 9); /* Gecko Browsers */
  color: white;
}

/* Images */
/* Make sure images don't go too big */
img {
  max-height: 300px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  display: block;
  width: 90%;
}


/* Post stylings */
h1, h2, h3 {
  margin-bottom: -1.5rem;
}
h3 {
  font-size: 1.8rem;
}
h1:not(:first-child), h2:not(:first-child), h3:not(:first-child) {
  margin-top: 2rem;
}
.post-title, .date {
  text-align: center;
}
.post-title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.25;
  color: rgb(10, 10, 10);
}
.date {
  color: rgb(135, 32, 64);
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.logo-holder {
  text-align: center;
}
.logo {
  width: 4rem;
  height: auto;
  cursor: pointer;
  display: inline-block;
}

/* Show Comments button */
.comment-spacer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.button-holder {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
#show-comment-button {
  font-family: Hind, Arial, Helvetica, sans-serif;
  cursor: pointer;
  text-decoration: none;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  width: 10rem;
  border-radius: 0.53rem;
  text-align: center;
  font-size: 1rem;
  background-color: rgb(40, 40, 40); 
  color: white;
  border: none;
  margin: 0 auto;
}
#show-comment-button:hover {
  background-color: rgb(135, 32, 64);
  color: white;
}

/* For phone width */
@media only screen and (max-width: 768px) {
  .post-title {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .date {
    font-size: 0.8rem;
  }
  .content {
    font-size: 1.0rem;
  }
  h1, h2, h3 {
    font-size: 1.3rem;
    margin-bottom: -0.75rem;
  }
}