/* Default font size */
.container {
  font-size: 1.35rem;
  line-height: 2.0rem;
  max-width: 45rem;
}

/* Images */
/* Make sure images don't go too big */
img {
  max-height: 400px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  display: block;
  width: 90%;
  object-fit: contain;
}

/* Post stylings */
h1, h2, h3 {
  margin-bottom: -0.25rem;
}
h1 {
  font-size: 2.3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h1:not(:first-child), h2:not(:first-child), h3:not(:first-child) {
  margin-top: 2rem;
}

.post-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.25;
  margin-top: -1.35rem;
}
.date {
  font-size: 1rem;
  color: rgb(121, 118, 119);
}

.logo-holder {
  text-align: center;
  padding-bottom: 0.75rem;
}
.logo {
  width: 4rem;
  height: auto;
  cursor: pointer;
  display: inline-block;
}
ol {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
li {
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
}
li:not(:first-child) {
  margin-top: 0.5rem;
}
li > p {
  padding: 0;
  margin: 0;
}

.comment-spacer {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

/* Code formatting */
code {
  background-color: #eee;
}

blockquote {
  font-style: italic;
  color: #3b3b3b;
  background-color: rgb(247, 247, 247);
}

/* For phone width */
@media only screen and (max-width: 768px) {
  .post-title {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .date {
    font-size: 0.8rem;
  }
  .content {
    font-size: 1.1rem;
  }
  h1, h2, h3 {
    font-size: 1.3rem;
    margin-bottom: -0.75rem;
  }
}
