<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

  <!-- Base stylings -->
  <link rel="stylesheet" href="/styles/base.css">

  <!-- Analytics -->
  <script async>
    (function() {
      if (window.location.hostname.indexOf('localhost') > -1) {
        return;
      }
  
      var script = document.createElement('script');
      window.counter = 'https://mlu.goatcounter.com/count'
      script.async = 1;
      script.src = '//static.goatcounter.com/count.min.js';
  
      var ins = document.getElementsByTagName('script')[0];
      ins.parentNode.insertBefore(script, ins)
    })();
  </script>

  <!-- Block for title, css, scripts, etc.-->
  {% block head%}
  {% endblock head %}
</head>

<body>
  
  {% block top_bar %}
  <div></div>
  {% endblock top_bar %}

  <div class="grid">
    <!-- <div class="grid_spacer"></div> -->
    <!-- Block for content -->
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>
    <!-- <div class="grid_spacer"></div> -->
  </div>
</body>

</html>