<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

  <link rel="preload" href="/styles/fonts/hind-v9-latin-regular.woff2" as="font" type="font/woff2" crossorigin>

  <!-- Base stylings -->
  <link rel="stylesheet" href="/styles/base.css">

  <!-- Analytics -->
  <script data-goatcounter="https://mlu.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

  <!-- Block for title, css, scripts, etc.-->
  {% block head%}
  {% endblock head %}
</head>

<body>
  
  {% block top_bar %}
  <div></div>
  {% endblock top_bar %}

  <div class="grid">
    <!-- <div class="grid_spacer"></div> -->
    <!-- Block for content -->
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>
    <!-- <div class="grid_spacer"></div> -->
  </div>
</body>

</html>