<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link rel="stylesheet" href="./styles/index.css">

  	<!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	
	<title>mindlevelup</title>
</head>

<body>
	<div class="grid">
		<div class="grid-spacer"></div>
		<div class="container">
			<div class="home-title">
				
				<span class="grid-spacer"></span>

				<span class="logo-wrapper">
					<img src="images/mlu-logo.svg" class="home-title-logo">
				</span>

				<span class="nav-holder">
					<span class="navbar">
							<a href="./about.html" class="nav-button">About</a>
					</span>
					<span class="navbar">
							<a href="./muse/" class="nav-button">Muse</a>
					</span>
				</span>

			</div>
			{% for p in posts %}
			<div class="post-link">
				<div class="post-title">
					<a href="{{ './%s.html'%p.anchor }}">{{ p.title }}</a>
				</div>
				<div class="word-count">{{ p.word_count }} words</div>
				<div class="post-summary">{{ p.summary }}</div>
			</div>
			{% endfor %}
		</div>
		<div class="grid-spacer"></div>
	</div>

</body>

</html>