{% extends "templates/base.html" %}

{% block head %}
<title>mindlevelup</title>
<link rel="stylesheet" href="/styles/index.css">
{% endblock head %}

{% block top_bar %}
{% include "templates/navbar.html" %}
{% endblock top_bar %}

{% block content %}
  {% for p in data %}
  <div class="post-link">
    <div class="post-title">
      <a href="{{ './%s.html'%p.anchor }}">{{ p.title }}</a>
    </div>
    <div class="word-count">{{ p.word_count }} words</div>
    <div class="post-summary">{{ p.summary }}</div>
  </div>
  {% endfor %}
{% endblock content %}