<!DOCTYPE html>
<html>

<!-- Note the Muse templates need to go one directory above to access
the image, style, and js files -->

<head>
	<title>{{post.title}}</title>
  <link rel="stylesheet" href="../styles/muse-post.css">
  
  <!-- Favicon -->
  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
</head>

<body>
  <div class="body">
    
    <div class="back-holder">
      <a href="./" class="nav-button back">◄ Muse</a>
    </div>

    <div class="grid">
      <div class="grid-spacer">
      </div>
      <div class="container">
        <div class="title">{{post.title}}</div>
        <div class="date">Last Updated: {{post.date}}</div>
        <div class="content">{{post.content}}</div>
        <hr/>
        <div class="navbar">
          {% if post.id == 1 %}
          <div></div>
          {% else %}
          <a href="{{ './%s.html'%(post.id-1) }}" class="nav-button prev">◄ Prev Post</a>
          {% endif %}

          {% if post.id >= max_num %}
          <div></div>
          {% else %}
          <a href="{{ './%s.html'%(post.id+1) }}" class="nav-button next">Next Post ►</a>
          {% endif %}
        </div>
      </div>
      <div class="grid-spacer"></div>
    </div>
  </div>

</body>

</html>
