<!DOCTYPE html>
<html>

<!-- Note the Muse templates need to go one directory above to access
the image, style, and js files -->

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../styles/muse-index.css">

  	<!-- Favicon -->
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
	
		<!-- Filter script -->
		<script src="../scripts/filter.js" defer></script>
	<title>Muse</title>
</head>

<body>
	<div class="body">
		
		<div class="top-nav">

			<div class="back-holder">
				<!-- <a href="../" class="nav-button back">◄ MLU</a> -->
			</div>

			<div class="logo-holder">
				<img src="../images/muse-logo.png" class="home-title-logo">	
			</div>

			<div></div>
		</div>
		
		<div class="container">

			<div class="filter-bar">
				<input type="checkbox" id="checkbox" data-toggle="1" />
				Hide all posts under
				<input type="number" id="num-field" value=300 /> words.
			</div>

			{% for p in posts %}
			<div class="post-link" data-word_count="{{ p.word_count }}">
				<div class="post-title">
					<a href="{{ './%s.html'%p.id }}">{{ p.title }}</a>
				</div>
				<div class="word-count">{{ p.word_count }} words</div>
				<div class="post-summary">{{ p.summary }}</div>
			</div>
			{% endfor %}
		</div>
	</div>

</body>

</html>