{% extends "templates/base.html" %}

{% block head%}
<title>{{ data.title }}</title>
<link rel="stylesheet" href="/styles/page.css">
{% endblock head %}

{% block top_bar %}
<div class="top_bar">
  <div class="nav-holder">
    <div class="nav-spacer"></div>
    <a href="/page/about.html" class="nav-button">About</a>
  </div>

  <div class="logo-wrapper">
    <a href="/">
      <img src="/images/mlu_logo.svg" class="logo">
    </a>
  </div>

  <div class="nav-holder">
    <a href="/muse/" class="nav-button">Muse</a>
    <div class="nav-spacer"></div>
  </div>
</div>
{% endblock top_bar %}

{% block content%}
<div class="page-title">{{data.title}}</div>
<div class="content">{{data.content}}</div>
{% endblock content%}