{% extends "templates/base.html" %}

{% block head %}
<title>{{ data.title }}</title>
<link rel="stylesheet" href="/styles/post.css">
<link rel="stylesheet" href="/styles/mlu_post.css">
<script defer src="https://my.remarkbox.com/static/js/iframe-resizer/iframeResizer.min.js"></script>
<script defer src="/scripts/remarkbox.js"></script>
{% endblock head %}

{% block top_bar %}
<div class="top_bar">
  <div class="logo-holder">
    <a href="/">
      <img src="/images/mlu_logo.svg" class="logo">
    </a>
  </div>
</div>
{% endblock top_bar %}

{% block content %}
<div class="post-title">{{data.title}}</div>
<div class="content">{{data.content}}</div>
<div class="date">Last Updated: {{data.date}}</div>
<div class="date">First Published: {{data.first_published}}</div>

<hr class="comment-spacer">
<div id="remarkbox-div">
  <noscript>
    <iframe id=remarkbox-iframe src="https://my.remarkbox.com/embed?nojs=true" style="height:600px;width:100%;border:none!important" tabindex=0></iframe>
  </noscript>
</div>
{% endblock content %}
